<head>
    <link rel="stylesheet" type="text/css" href="/static/signup.css">
</head>

<body class="fondo">
{% extends 'base.html' %}

{% block content %}
    <div class="signup-container">
        <h2>Signup</h2>

        {{ error }}

        <form action="/signup/" method="POST" class="signup-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div align="center">
                <button class="signup-button">Signup</button>
            </div>
        </form>
    </div>
{% endblock %}
</body>
