<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body  class="fondo3 text-color">
    {% extends 'base.html' %}

    {% block content %}
    <h1>tareas</h1>
    {% if user.is_superuser %}
    <form action="/newTask/" method="POST">
        {% csrf_token %}
        <button>
            Nueva Tarea
        </button>
    </form>

    <form action="/editTask/" method="POST">
        {% csrf_token %}
        <button>
            Editar Tarea
        </button>
    </form>
    {% endif %}
    
    {% for tarea in object_list %}
        {% if tarea.euser == user.username %}
        <h1>{{tarea.tname}}</h1>
        {% endif %}
    {% endfor %}

    {% endblock %}
</body>

