<head>
    <link rel="stylesheet" type="text/css" href="/static/tarea_list.css">
</head>

<body  class="fondo text-color">
    {% extends '../base.html' %}

    {% block content %}
    <div class="list-container">
        <h1>Tareas</h1>
    </div>
    {% if user.is_superuser %}
    <div class="tareas-container">
        <form action="/newTask/" method="POST">
            {% csrf_token %}
            <button>
                Nueva Tarea
            </button>
        </form>
    
        {% endif %}
        <div>
            <ul>
        {% for tarea in object_list %}
            {% if tarea.euser == user.username or user.is_superuser %}
            <li class="elemento-lista">
                <div class="contenido">
                <h5>{{tarea.tname}}</h5>
                <br>{{tarea.tdesc}}<br>
                {% if user.is_superuser %}
                <br>{{tarea.euser}}<br>
                <a href="{% url "editTask" tarea.id %}">Editar</a>
                <a href="{% url "delete" tarea.id %}">Eliminar</a>
                {% else %}
                <a href="{% url "delete" tarea.id %}">Completar</a>
                {% endif %}
    
                </div>
            </li>
            {% endif %}
            
            
        {% endfor %}
            </ul>
        </div>

    </div>
    {% endblock %}
</body>

